html
    head 
    body 
        div
            form(method="POST" action="/" enctype="multipart/form-data")
                input(type="file" name="files" multiple)
                input(type="submit")